VITE_ADMIN_API_BASE_URL=https://ecommerce-app-backend-1kn0.onrender.com/api/v1
VITE_ADMIN_SOCKET_URL=https://ecommerce-app-backend-1kn0.onrender.com
VITE_ADMIN_API_PROXY_TARGET=https://ecommerce-app-backend-1kn0.onrender.com
